@import "fonts"
@import "mixins"
@import "variables"
@import "global"

.header__inner
  height: 130px


.header__logo
  margin: 20px 0 5px 40px

.header__menu
  height: 39px
  background-color: $blue

.main-content
  margin: 25px 0

.main-content__inner
  display: flex
  justify-content: space-between
  align-items: flex-start

.main-content__box
  position: relative

.main-content__item
  min-width: 180px
  background-color: $g-block
  text-align: center
  padding-top: 131px
  height: 319px

.info__inner-content
  display: flex
  justify-content: space-between
  flex-flow: row
  height: 516px
  margin: 25px 0

.info__item
  min-width: 180px
  background-color: $g-block

  & + .info__item
    margin-left: 15px

.news
  min-width: 375px
  padding-left: 76px
  padding-top: 69px

.information
  padding-top: 52px
  padding-left: 13px

.sales
  padding-top: 52px
  padding-left: 8px

.block
  padding-top: 75px
  padding-left: 64px

.information-mobile
  min-width: 180px
  width: 100%
  position: relative
  display: none

.info__item-content
  display: none


.info__item--active
  transition: all .3s
  background-color: $g-active

  .info__item-title
    color: $blue
    font-weight: 700
    line-height: 21px
  .info__item-content
    background-color: $g-active
    div
      margin-top: 10px
    img
      position: absolute
      left: 0
      top: 0


.info__page-counter
  display: flex
  justify-content: space-between
  background-color: $g-bg
  padding: 25px 0


.info__page-selection
  max-width: 664px
  width: 100%
  display: flex
  justify-content: space-between
  align-items: center
  background-color: #fff
  height: 44px
  margin-right: 20px

  button
    width: 44px
    height: 44px
    background-color: $g-block
    border: none

.info__page-show
  button
    width: 44px
    height: 44px
    background-color: $g-block
    border: none

.addition__inner
  margin-top: 35px
  margin-bottom: 35px
  background-color: $blue
  height: 330px